#myH1 {
    color: rgb(0, 0, 0);
    padding: 30px 35px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH2 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH3 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH4 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH5 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH6 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH7 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH8 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH9 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH10 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH11 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myH12 {
    color: rgb(0, 0, 0);
    padding: 30px 35px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(31, 161, 5);
}

#myHShiny {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: center;
    justify-content: space-between;
    background-color: rgb(31, 161, 5);
}

#myHShiny1 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: center;
    justify-content: space-between;
    background-color: rgb(31, 161, 5);
}

#myInput {
    size: 40%;
    background-color: rgb(47, 213, 14);
}

#mySubmit {
    size: 20%;
    background-color: rgb(31, 161, 5);
}

#costumeBulbasaur {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeBulbasaur1 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeBulbasaur2 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeSquirtle {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeSquirtle1 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeSquirtle2 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeSquirtle3 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeWartortle {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

#costumeWartortle1 {
    border-radius: 50%;
    background-color: rgb(47, 213, 14);
    border: 1px solid black;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#buttons {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal1.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header1 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header1 .title1 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header1 .close-button1 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body1 {
    padding: 10px 15px;
}

#buttons1 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image1 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay1 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay1.active {
    opacity: 1;
    pointer-events: all;
}

.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal2.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header2 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header2 .title2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header2 .close-button2 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body2 {
    padding: 10px 15px;
}

#buttons2 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image2 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay2 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay2.active {
    opacity: 1;
    pointer-events: all;
}

.modal3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal3.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header3 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header3 .title3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header3 .close-button3 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body3 {
    padding: 10px 15px;
}

#buttons3 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image3 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay3 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay3.active {
    opacity: 1;
    pointer-events: all;
}

.modal4 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal4.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header4 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header4 .title4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header4 .close-button4 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body4 {
    padding: 10px 15px;
}

#buttons4 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image4 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay4 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay4.active {
    opacity: 1;
    pointer-events: all;
}

.modal5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal5.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header5 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header5 .title5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header5 .close-button5 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body5 {
    padding: 10px 15px;
}

#buttons5 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image5 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay5 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay5.active {
    opacity: 1;
    pointer-events: all;
}

#buttonShiny {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    width: 49.5%;
}

#buttonShiny1 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    width: 49.5%;
}

.modal6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal6.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header6 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header6 .title6 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header6 .close-button6 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body6 {
    padding: 10px 15px;
}

#buttons6 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image6 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay6 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay6.active {
    opacity: 1;
    pointer-events: all;
}

.modal7 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal7.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header7 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header7 .title7 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header7 .close-button7 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body7 {
    padding: 10px 15px;
}

#buttons7 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image7 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay7 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay7.active {
    opacity: 1;
    pointer-events: all;
}

.modal8 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal8.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header8 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header8 .title8 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header8 .close-button8 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body8 {
    padding: 10px 15px;
}

#buttons8 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image8 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay8 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay8.active {
    opacity: 1;
    pointer-events: all;
}

.modal9 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal9.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header9 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header9 .title9 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header9 .close-button9 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body9 {
    padding: 10px 15px;
}

#buttons9 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image9 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay9 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay9.active {
    opacity: 1;
    pointer-events: all;
}

.modal10 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal10.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header10 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header10 .title10 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header10 .close-button10 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body10 {
    padding: 10px 15px;
}

#buttons10 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image10 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay10 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay10.active {
    opacity: 1;
    pointer-events: all;
}

.modal11 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal11.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header11 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header11 .title11 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header11 .close-button11 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body11 {
    padding: 10px 15px;
}

#buttons11 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image11 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay11 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay11.active {
    opacity: 1;
    pointer-events: all;
}

.modal12 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal12.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header12 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header12 .title12 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header12 .close-button12 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body12 {
    padding: 10px 15px;
}

#buttons12 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image12 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay12 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay12.active {
    opacity: 1;
    pointer-events: all;
}

.modal13 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 1500px;
    max-width: 85%;
}

.modal13.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header13 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header13 .title13 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header13 .close-button13 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body13 {
    padding: 10px 15px;
}

#buttons13 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 25%;
}

#overlay13 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay13.active {
    opacity: 1;
    pointer-events: all;
}

#pokemonCard {
    width: 4%;
}

#pokemonCard1 {
    width: 4%;
}

#pokemonCard2 {
    width: 4%;
}

#pokemonCard3 {
    width: 4%;
}

#pokemonCard4 {
    width: 4%;
}

#pokemonCard5 {
    width: 4%;
}

#pokemonCard6 {
    width: 4%;
}

#pokemonCard7 {
    width: 4%;
}

#pokemonCard8 {
    width: 4%;
}

#pokemonCard9 {
    width: 4%;
}

#pokemonCard10 {
    width: 4%;
}

#pokemonCard11 {
    width: 4%;
}

#pokemonCard12 {
    width: 4%;
}

#pokemonCard13 {
    width: 4%;
}

#pokemonCard14 {
    width: 4%;
}

#pokemonCard15 {
    width: 4%;
}

#pokemonCard16 {
    width: 4%;
}

#pokemonCard17 {
    width: 4%;
}

#pokemonCard18 {
    width: 4%;
}

#pokemonCard19 {
    width: 4%;
}

#pokemonCard20 {
    width: 4%;
}

#pokemonCard21 {
    width: 4%;
}

#pokemonCard22 {
    width: 4%;
}

#pokemonCard23 {
    width: 4%;
}

#pokemonCard24 {
    width: 4%;
}

#pokemonCard25 {
    width: 4%;
}

#pokemonCard26 {
    width: 4%;
}

#pokemonCard27 {
    width: 4%;
}

#pokemonCard28 {
    width: 4%;
}

#pokemonCard29 {
    width: 4%;
}

#pokemonCard30 {
    width: 4%;
}

#pokemonCard31 {
    width: 4%;
}

#pokemonCard32 {
    width: 4%;
}

#pokemonCard33 {
    width: 4%;
}

#pokemonCard34 {
    width: 4%;
}

#pokemonCard35 {
    width: 4%;
}

#pokemonCard36 {
    width: 4%;
}

#pokemonCard37 {
    width: 4%;
}

#pokemonCard38 {
    width: 4%;
}

#pokemonCard39 {
    width: 4%;
}

#pokemonCard40 {
    width: 4%;
}

#pokemonCard41 {
    width: 4%;
}

#pokemonCard42 {
    width: 4%;
}

#pokemonCard43 {
    width: 4%;
}

#pokemonCard44 {
    width: 4%;
}

#pokemonCard45 {
    width: 4%;
}

#pokemonCard46 {
    width: 4%;
}

#pokemonCard47 {
    width: 4%;
}

#pokemonCard48 {
    width: 4%;
}

#pokemonCard49 {
    width: 4%;
}

#pokemonCard50 {
    width: 4%;
}

#pokemonCard51 {
    width: 4%;
}

#pokemonCard52 {
    width: 4%;
}

#pokemonCard53 {
    width: 4%;
}

#pokemonCard54 {
    width: 4%;
}

#pokemonCard55 {
    width: 4%;
}

#pokemonCard56 {
    width: 4%;
}

#pokemonCard57 {
    width: 4%;
}

#pokemonCard58 {
    width: 4%;
}

#pokemonCard59 {
    width: 4%;
}

#pokemonCard60 {
    width: 4%;
}

#pokemonCard61 {
    width: 4%;
}

#pokemonCard62 {
    width: 4%;
}

#pokemonCard63 {
    width: 4%;
}

#pokemonCard64 {
    width: 4%;
}

#pokemonCard65 {
    width: 4%;
}

#pokemonCard66 {
    width: 4%;
}

#pokemonCard67 {
    width: 4%;
}

#pokemonCard68 {
    width: 4%;
}

#pokemonCard69 {
    width: 4%;
}

#pokemonCard70 {
    width: 4%;
}

#pokemonCard71 {
    width: 4%;
}

#pokemonCard72 {
    width: 4%;
}

#pokemonCard73 {
    width: 4%;
}

#pokemonCard74 {
    width: 4%;
}

#pokemonCard75 {
    width: 4%;
}

#pokemonCard76 {
    width: 4%;
}

#pokemonCard77 {
    width: 4%;
}

#pokemonCard78 {
    width: 4%;
}

#pokemonCard79 {
    width: 4%;
}

#pokemonCard80 {
    width: 4%;
}

#pokemonCard81 {
    width: 4%;
}

#pokemonCard82 {
    width: 4%;
}

#pokemonCard83 {
    width: 4%;
}

#pokemonCard84 {
    width: 4%;
}

#pokemonCard85 {
    width: 4%;
}

#pokemonCard86 {
    width: 4%;
}

#pokemonCard87 {
    width: 4%;
}

#pokemonCard88 {
    width: 4%;
}

#pokemonCard89 {
    width: 4%;
}

#pokemonCard90 {
    width: 4%;
}

#pokemonCard91 {
    width: 4%;
}

#pokemonCard92 {
    width: 4%;
}

#pokemonCard93 {
    width: 4%;
}

#pokemonCard94 {
    width: 4%;
}

#pokemonCard95 {
    width: 4%;
}

#pokemonCard96 {
    width: 4%;
}

#pokemonCard97 {
    width: 4%;
}

#pokemonCard98 {
    width: 4%;
}

#pokemonCard99 {
    width: 4%;
}

#pokemonCard100 {
    width: 4%;
}

#pokemonCard101 {
    width: 4%;
}

.modal14 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal14.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header14 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header14 .title14 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header14 .close-button14 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body14 {
    padding: 10px 15px;
}

#buttons14 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image14 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay14 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay14.active {
    opacity: 1;
    pointer-events: all;
}

.modal15 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal15.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header15 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header15 .title15 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header15 .close-button15 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body15 {
    padding: 10px 15px;
}

#buttons15 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image15 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay15 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay15.active {
    opacity: 1;
    pointer-events: all;
}

.modal16 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(31, 161, 5);
    width: 500px;
    max-width: 80%;
}

.modal16.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header16 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header16 .title16 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header16 .close-button16 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body16 {
    padding: 10px 15px;
}

#buttons16 {
    background-color: rgb(31, 161, 5);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image16 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay16 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay16.active {
    opacity: 1;
    pointer-events: all;
}