.button-container {
    display: flex;
    justify-content: space-around;
  }

#cardyoutubers {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers:hover, a:hover {
    opacity: 0.7;
  }

#cardyoutubers1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers1 {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers1:hover, a:hover {
    opacity: 0.7;
  }

#cardyoutubers2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers2 {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers2:hover, a:hover {
    opacity: 0.7;
  }

  .cardyoutubers {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers:hover, a:hover {
    opacity: 0.7;
  }

#cardyoutubers3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers3 {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers3 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers3:hover, a:hover {
    opacity: 0.7;
  }

#cardyoutubers4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    background-color: #04AA6D;
  }
  
  .titleyoutubers4 {
    color: black;
    font-size: 18px;
  }
  
  .buttonyoutubers4 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .buttonyoutubers4:hover, a:hover {
    opacity: 0.7;
  }

.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: black;
    width: 10%;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 88, 88);
    color: black;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
  }

#myH1 {
    color: rgb(0, 0, 0);
    padding: 30px 35px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myInput {
    background-color: rgb(110, 147, 102);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 96%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: rgb(110, 147, 102);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: absolute;
    width: 98.36%;
  }

  #myUL li a:hover:not(.header) {
    background-color: darkgrey;
    cursor: pointer;
  }

#myH2 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH3 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH4 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH5 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH6 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH7 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH8 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH9 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH10 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH11 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myH12 {
    color: rgb(0, 0, 0);
    padding: 30px 35px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #04AA6D;
}

#myHShiny {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: center;
    justify-content: space-between;
    background-color: #04AA6D;
}

#myHShiny1 {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: center;
    justify-content: space-between;
    background-color: #04AA6D;
}

#costumeBulbasaur {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeBulbasaur1 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeBulbasaur2 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeSquirtle {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeSquirtle1 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeSquirtle2 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeSquirtle3 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeWartortle {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

#costumeWartortle1 {
    border-radius: 50%;
    background-color: #82d682;
    border: 1px solid black;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(0, 0, 0);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#buttons {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal1.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header1 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header1 .title1 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header1 .close-button1 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body1 {
    padding: 10px 15px;
}

#buttons1 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image1 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay1 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay1.active {
    opacity: 1;
    pointer-events: all;
}

.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal2.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header2 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header2 .title2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header2 .close-button2 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body2 {
    padding: 10px 15px;
}

#buttons2 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image2 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay2 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay2.active {
    opacity: 1;
    pointer-events: all;
}

.modal3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal3.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header3 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header3 .title3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header3 .close-button3 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body3 {
    padding: 10px 15px;
}

#buttons3 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image3 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay3 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay3.active {
    opacity: 1;
    pointer-events: all;
}

.modal4 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal4.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header4 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header4 .title4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header4 .close-button4 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body4 {
    padding: 10px 15px;
}

#buttons4 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image4 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay4 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay4.active {
    opacity: 1;
    pointer-events: all;
}

.modal5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal5.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header5 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header5 .title5 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header5 .close-button5 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body5 {
    padding: 10px 15px;
}

#buttons5 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image5 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay5 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay5.active {
    opacity: 1;
    pointer-events: all;
}

#buttonShiny {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    width: 49.5%;
}

#buttonShiny1 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    width: 49.5%;
}

.modal6 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal6.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header6 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header6 .title6 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header6 .close-button6 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body6 {
    padding: 10px 15px;
}

#buttons6 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image6 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay6 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay6.active {
    opacity: 1;
    pointer-events: all;
}

.modal7 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal7.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header7 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header7 .title7 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header7 .close-button7 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body7 {
    padding: 10px 15px;
}

#buttons7 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image7 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay7 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay7.active {
    opacity: 1;
    pointer-events: all;
}

.modal8 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal8.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header8 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header8 .title8 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header8 .close-button8 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body8 {
    padding: 10px 15px;
}

#buttons8 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image8 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay8 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay8.active {
    opacity: 1;
    pointer-events: all;
}

.modal9 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal9.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header9 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header9 .title9 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header9 .close-button9 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body9 {
    padding: 10px 15px;
}

#buttons9 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image9 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay9 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay9.active {
    opacity: 1;
    pointer-events: all;
}

.modal10 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal10.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header10 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header10 .title10 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header10 .close-button10 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body10 {
    padding: 10px 15px;
}

#buttons10 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image10 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay10 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay10.active {
    opacity: 1;
    pointer-events: all;
}

.modal11 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal11.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header11 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header11 .title11 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header11 .close-button11 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body11 {
    padding: 10px 15px;
}

#buttons11 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image11 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay11 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay11.active {
    opacity: 1;
    pointer-events: all;
}

.modal12 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal12.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header12 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header12 .title12 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header12 .close-button12 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body12 {
    padding: 10px 15px;
}

#buttons12 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image12 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay12 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay12.active {
    opacity: 1;
    pointer-events: all;
}

.modal13 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 1500px;
    max-width: 85%;
}

.modal13.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header13 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header13 .title13 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header13 .close-button13 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body13 {
    padding: 10px 15px;
}

#buttons13 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 25%;
}

#overlay13 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay13.active {
    opacity: 1;
    pointer-events: all;
}

#pokemonCard {
    width: 4%;
}

#pokemonCard1 {
    width: 4%;
}

#pokemonCard2 {
    width: 4%;
}

#pokemonCard3 {
    width: 4%;
}

#pokemonCard4 {
    width: 4%;
}

#pokemonCard5 {
    width: 4%;
}

#pokemonCard6 {
    width: 4%;
}

#pokemonCard7 {
    width: 4%;
}

#pokemonCard8 {
    width: 4%;
}

#pokemonCard9 {
    width: 4%;
}

#pokemonCard10 {
    width: 4%;
}

#pokemonCard11 {
    width: 4%;
}

#pokemonCard12 {
    width: 4%;
}

#pokemonCard13 {
    width: 4%;
}

#pokemonCard14 {
    width: 4%;
}

#pokemonCard15 {
    width: 4%;
}

#pokemonCard16 {
    width: 4%;
}

#pokemonCard17 {
    width: 4%;
}

#pokemonCard18 {
    width: 4%;
}

#pokemonCard19 {
    width: 4%;
}

#pokemonCard20 {
    width: 4%;
}

#pokemonCard21 {
    width: 4%;
}

#pokemonCard22 {
    width: 4%;
}

#pokemonCard23 {
    width: 4%;
}

#pokemonCard24 {
    width: 4%;
}

#pokemonCard25 {
    width: 4%;
}

#pokemonCard26 {
    width: 4%;
}

#pokemonCard27 {
    width: 4%;
}

#pokemonCard28 {
    width: 4%;
}

#pokemonCard29 {
    width: 4%;
}

#pokemonCard30 {
    width: 4%;
}

#pokemonCard31 {
    width: 4%;
}

#pokemonCard32 {
    width: 4%;
}

#pokemonCard33 {
    width: 4%;
}

#pokemonCard34 {
    width: 4%;
}

#pokemonCard35 {
    width: 4%;
}

#pokemonCard36 {
    width: 4%;
}

#pokemonCard37 {
    width: 4%;
}

#pokemonCard38 {
    width: 4%;
}

#pokemonCard39 {
    width: 4%;
}

#pokemonCard40 {
    width: 4%;
}

#pokemonCard41 {
    width: 4%;
}

#pokemonCard42 {
    width: 4%;
}

#pokemonCard43 {
    width: 4%;
}

#pokemonCard44 {
    width: 4%;
}

#pokemonCard45 {
    width: 4%;
}

#pokemonCard46 {
    width: 4%;
}

#pokemonCard47 {
    width: 4%;
}

#pokemonCard48 {
    width: 4%;
}

#pokemonCard49 {
    width: 4%;
}

#pokemonCard50 {
    width: 4%;
}

#pokemonCard51 {
    width: 4%;
}

#pokemonCard52 {
    width: 4%;
}

#pokemonCard53 {
    width: 4%;
}

#pokemonCard54 {
    width: 4%;
}

#pokemonCard55 {
    width: 4%;
}

#pokemonCard56 {
    width: 4%;
}

#pokemonCard57 {
    width: 4%;
}

#pokemonCard58 {
    width: 4%;
}

#pokemonCard59 {
    width: 4%;
}

#pokemonCard60 {
    width: 4%;
}

#pokemonCard61 {
    width: 4%;
}

#pokemonCard62 {
    width: 4%;
}

#pokemonCard63 {
    width: 4%;
}

#pokemonCard64 {
    width: 4%;
}

#pokemonCard65 {
    width: 4%;
}

#pokemonCard66 {
    width: 4%;
}

#pokemonCard67 {
    width: 4%;
}

#pokemonCard68 {
    width: 4%;
}

#pokemonCard69 {
    width: 4%;
}

#pokemonCard70 {
    width: 4%;
}

#pokemonCard71 {
    width: 4%;
}

#pokemonCard72 {
    width: 4%;
}

#pokemonCard73 {
    width: 4%;
}

#pokemonCard74 {
    width: 4%;
}

#pokemonCard75 {
    width: 4%;
}

#pokemonCard76 {
    width: 4%;
}

#pokemonCard77 {
    width: 4%;
}

#pokemonCard78 {
    width: 4%;
}

#pokemonCard79 {
    width: 4%;
}

#pokemonCard80 {
    width: 4%;
}

#pokemonCard81 {
    width: 4%;
}

#pokemonCard82 {
    width: 4%;
}

#pokemonCard83 {
    width: 4%;
}

#pokemonCard84 {
    width: 4%;
}

#pokemonCard85 {
    width: 4%;
}

#pokemonCard86 {
    width: 4%;
}

#pokemonCard87 {
    width: 4%;
}

#pokemonCard88 {
    width: 4%;
}

#pokemonCard89 {
    width: 4%;
}

#pokemonCard90 {
    width: 4%;
}

#pokemonCard91 {
    width: 4%;
}

#pokemonCard92 {
    width: 4%;
}

#pokemonCard93 {
    width: 4%;
}

#pokemonCard94 {
    width: 4%;
}

#pokemonCard95 {
    width: 4%;
}

#pokemonCard96 {
    width: 4%;
}

#pokemonCard97 {
    width: 4%;
}

#pokemonCard98 {
    width: 4%;
}

#pokemonCard99 {
    width: 4%;
}

#pokemonCard100 {
    width: 4%;
}

#pokemonCard101 {
    width: 4%;
}

.modal14 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal14.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header14 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header14 .title14 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header14 .close-button14 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body14 {
    padding: 10px 15px;
}

#buttons14 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image14 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay14 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay14.active {
    opacity: 1;
    pointer-events: all;
}

.modal15 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal15.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header15 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header15 .title15 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header15 .close-button15 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body15 {
    padding: 10px 15px;
}

#buttons15 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image15 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay15 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay15.active {
    opacity: 1;
    pointer-events: all;
}

.modal16 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal16.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header16 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header16 .title16 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header16 .close-button16 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body16 {
    padding: 10px 15px;
}

#buttons16 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image16 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay16 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay16.active {
    opacity: 1;
    pointer-events: all;
}

.modal17 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal17.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header17 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header17 .title17 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header17 .close-button17 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body17 {
    padding: 10px 15px;
}

#buttons17 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image17 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay17 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay17.active {
    opacity: 1;
    pointer-events: all;
}

.modal18 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal18.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header18 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header18 .title18 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header18 .close-button18 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body18 {
    padding: 10px 15px;
}

#buttons18 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image18 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay18 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay18.active {
    opacity: 1;
    pointer-events: all;
}

.modal19 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #04AA6D;
    width: 500px;
    max-width: 80%;
}

.modal19.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header19 {
    padding: 10px 15px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header19 .title19 {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header19 .close-button19 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body19 {
    padding: 10px 15px;
}

#buttons19 {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    width: 33%;
}

.image19 {
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#overlay19 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay19.active {
    opacity: 1;
    pointer-events: all;
}